header
{
    background-image: url("../imgs/sql.jpg");
    background-position: center center;
    background-size: cover;
}
.layer
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.8);
}
nav
{
    z-index: 2;
}
.main-text
{
    font-size: 4rem;

}
.brand
{
    font-size: 2rem !important;
}
